<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandan.client1.mapper.AdminMapper">
  <resultMap id="ResultMap" type="com.dandan.client1.entity.Admin">
    <id column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="site_id" jdbcType="BIGINT" property="siteId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="job_number" jdbcType="VARCHAR" property="jobNumber" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="gender" jdbcType="SMALLINT" property="gender" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
    <result column="power" jdbcType="VARCHAR" property="power" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
  </resultMap>

  <sql id="Base_Column_List">
    admin_id, org_id, site_id, role_id, name, job_number, passwd, email, phone, description, 
    effective_time, expire_time, created, updated, type, state, realname, gender,image_url, roles, power,department_id
  </sql>

  <insert id="insertAdmin" parameterType="com.dandan.client1.entity.Admin" useGeneratedKeys="true" keyProperty="adminId">
    insert into admin ( org_id, site_id,
      role_id, name, job_number,
      passwd, email, phone,
      description, effective_time, expire_time,
      created, updated, type,
      state, realname, gender,
      image_url, roles, power,department_id
      )
    values (#{orgId,jdbcType=INTEGER}, #{siteId,jdbcType=BIGINT},
      #{roleId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{jobNumber,jdbcType=VARCHAR},
      #{passwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{effectiveTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP},
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{type,jdbcType=SMALLINT},
      #{state,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{gender,jdbcType=SMALLINT},
      #{imageUrl,jdbcType=LONGVARCHAR}, #{roles,jdbcType=LONGVARCHAR}, #{power,jdbcType=LONGVARCHAR},department_id = #{departmentId,jdbcType=BIGINT}
      )
  </insert>


</mapper>